@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&family=Cabin:wght@400;500;600&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@100;200&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Paleta de colores
Beige #E8E3CC
Beige Oscuro#ACA592
Amarillo #F8DD1D
Naranja #F6A757
Rojo #E62F21
Verde #25602B */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('assets/fondo.jpg') no-repeat;
    background-size: cover;
    background-position: center;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

/* .logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
} */

.navbar a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar .btnLogin-popup{
    padding: 10px 35px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

.navbar .btnLogin-popup:hover{
    background: #fff;
    color: #000;
}

.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: .5s;
}

.navbar a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

section .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section .banner img{
    width: 50vw;
}

section .banner .img{
    position: relative;

    animation-name: pulse;
    animation-duration: 5s;
}

@keyframes pulse {
    0%{
        transform: scale(.8);
    }

    50%{
        transform: scale(1);
    }

    75%{
        transform: scale(.9);
    }
    
    100%{
        transform: scale(1);
    }
}

section .banner .txt{
    text-align: center;
    animation-name: pulse;
    animation-duration: 5s;
}

@keyframes pulse {
    0%{
        transform: scale(.8);
    }

    50%{
        transform: scale(1);
    }

    75%{
        transform: scale(.9);
    }
    
    100%{
        transform: scale(1);
    }
}

section .banner .txt h1{
    font-size: 2.5rem;
}

section .banner .txt h2{
    font-size: 2rem;
    color: transparent;
    -webkit-text-stroke: 1px #fff;

}


.banner .social a{
    color: #fff;
    font-size: 1.3em;
    padding: 5px;
}


.banner .social a:hover{
    color: #F6A757;
}